$dark-1:#2E323F;
$dark-2:#3B4050;
$gray: #6F737F;
$white: #FFFFFF;
$brown: #A59678;

* {
  box-sizing: border-box;
  &::before {
    box-sizing: border-box;
  }
  &::after {
    box-sizing: border-box;
  }
}

nav {
    display: flex;
    font-family: 'Oswald', sans-serif;
    p{
        color: $brown;
    }
    // font-family: 'Oswald', sans-serif;
    // font-family: 'Montserrat', sans-serif;

    ul{
        display: flex;
        li{
            padding-left: 1rem;
        }
        list-style: none;
        a{
            text-decoration: none;
            color: $gray;
        }
    }
}
