$black-pearl: #222c2a;
$quarter-pearl: #f3eed9;
$brown-red: #824936;

*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  width: 100%;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  // font-family: cursive;
  font-size: 1.3125rem;
  line-height: 1.6;
  color: $black-pearl;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  margin-top: 0;
}

.container {
  max-width: 1128px;
  padding: 4em 0;
  margin: 0 2.5rem;
}

.intro {
  background: $quarter-pearl;
  text-align: center;
  min-height: 660px;
  display: flex;
  align-items: center;
  justify-content: center;
  .intro__text {
    margin: 0;
    letter-spacing: 0.8rem;
    text-transform: uppercase;
    font-size: 1.125rem;
  }
  .intro__title {
    font-size: 3.75rem;
    color: $brown-red;
  }
}

.section-two {
  h2 {
    text-align: center;
    font-size: 2.25rem;
    color: $brown-red;
  }
}

.section-three {
  background-color: $black-pearl;
  color: $quarter-pearl;
}

.section-four {
  background-color: $brown-red;
  color: $quarter-pearl;
}
