*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

.hero p {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin: 0 2rem;
}

.hero h1 {
  font-family: "Playfair Display", sans-serif;
  color: #824936;
  font-size: 3.75rem;
  margin: 0 2rem;
  max-width: 40%;
  text-align: center;
}

.hero {
  background-color: #f3eed9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 660px;
}
